 .spec_chipset {
            width: 100%;
            border-bottom: 1px dotted #cccedb;
            display: inline-block;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

            .spec_chipset:hover {
                background-color: rgba(195, 195, 195, 0.93);
                cursor: pointer;
            }
        .Spec_Selected {
            background-color: rgba(195, 195, 195, 0.93);
        }

        /*Tooltips Class*/
        .ctooltip .tooltiptext::after {
            content: " ";
            position: absolute;
            bottom: 100%;  
            left: 25px;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgba(0, 0, 0, 0.59) transparent;
        }
        
        .ctooltip .tooltiptext {
            visibility: hidden;   
            width:20em;       
            background-color: rgba(0, 0, 0, 0.59);
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 6px;
            position: absolute;
            margin-top:10px;
            z-index: 1;
            margin-left: -20px;
        }

        .ctooltip:hover .tooltiptext {
            visibility: visible;
        }

        cell.text {
            white-space: nowrap;            
            overflow: hidden; 
            text-overflow:ellipsis;
        }